[submodule "Migrations/ITGlue-Hudu-Migration"]
	path = Migrations/ITGlue-Hudu-Migration
	url = https://github.com/Hudu-Technologies-Inc/ITGlue-Hudu-Migration.git
    branch = main
[submodule "Migrations/SharePoint-Hudu-Migration"]
	path = Migrations/SharePoint-Hudu-Migration
	url = https://github.com/Hudu-Technologies-Inc/SharePoint-Hudu-Migrator.git
    branch = main
[submodule "Migrations/Confluence-Hudu-Migration"]
	path = Migrations/Confluence-Hudu-Migration
	url = https://github.com/Hudu-Technologies-Inc/Confluence-Hudu-Migration.git
    branch = main
[submodule "Migrations/PassPortal-Hudu-Migration"]
	path = Migrations/PassPortal-Hudu-Migration
	url = https://github.com/Hudu-Technologies-Inc/Hudu-PassPortal-Migration.git
    branch = main
[submodule "Syncing-and-SIEM/Hudu-Microsoft-Fabric-Sync"]
	path = Syncing-and-SIEM/Hudu-Microsoft-Fabric-Sync
	url = https://github.com/Hudu-Technologies-Inc/Hudu-Microsoft-Fabric-Sync.git
    branch = main
[submodule "Client-Libraries/PowerShell/HuduAPI"]
	path = Client-Libraries/PowerShell/HuduAPI
	url = https://github.com/Hudu-Technologies-Inc/HuduAPI.git
    branch = master
[submodule "Migrations/Files-Hudu-Migration"]
	path = Migrations/Files-Hudu-Migration
	url = https://github.com/Hudu-Technologies-Inc/Files-Hudu-Migration.git
[submodule "Migrations/ITBoost-Hudu-Migration"]
	path = Migrations/ITBoost-Hudu-Migration
	url = https://github.com/Hudu-Technologies-Inc/ITBoost-Hudu-Migration.git
[submodule "Migrations/Itportal-Hudu-Migration"]
	path = Migrations/Itportal-Hudu-Migration
	url = https://github.com/Hudu-Technologies-Inc/ITPortal-Hudu-Migration.git
